{% extends 'layout.html.jinja' %}
{% block title %}
    Add Images
{% endblock title %}
{% block content %}
    <section class="album-menu">
        <form action="#" class="navbar-form">
            <select id="album" name="album" class="form-control">
                <option value="" selected>(Select album)</option>
                {% for album in albums %}
                    <option value="{{ album.album_id }}">{{ album.name }}</option>
                {% endfor %}
            </select>
            or
            <a href="#" data-toggle="modal" data-target="#new-album">
                create new album
            </a>
        </form>
    </section>

    <section class="modal" id="new-album" role="dialog" aria-labelledby="new-album" aria-hidden="true">
        <article class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>New album</h3>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('new_album') }}" class="navbar-form" method="POST">
                        <input type="text" name="album-name" id="album-name" class="form-control">
                        <input type="submit" class="btn btn-default" value="Save">
                    </form>
                </div>
            </div>
        </article>
    </section>

    <section class="row">
        <article class="image-control">
            <form method="post" action="{{ url_for('add') }}" enctype="multipart/form-data" class="form-inline">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active">
                        <a href="#file-upload" role="tab" data-toggle="tab">From File</a>
                    </li>
                    <li>
                        <a href="#url-upload" role="tab" data-toggle="tab">From Url</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane upload url-upload" id="url-upload">
                        <span class="input">
                            <input type="text" name="url" id="url" class="form-control">
                        </span>
                        <input type="submit" value="Go" class="btn btn-default" name="url-submit">
                    </div>

                    <div class="tab-pane active upload file-upload" id="file-upload">
                        <span class="input">
                            <label class="btn btn-default" for="file">Select</label>
                            <input type="file" id="file[]" name="file[]" multiple>
                        </span>
                        <input type="submit" value="Go" class="btn btn-default" name="file-submit">
                    </div>
                </div>
            </form>
        </article>
    </section>
{% endblock content %}
{% block scripts %}
    <script src="/public/js/add_image.js"></script>
{% endblock scripts %}
