<!doctype html>
<html>
    <head>
        <title>{{ image.caption() }} - Catsnap</title>
    </head>
    <body>
        <article id="image">
            <div>
                <a href="{{ url }}">
                    <img src="{{ url }}"
                        title="{{ image.caption() }}"
                        alt="{{ image.caption() }}" />
                </a>
            </div>
            {% if image.title %}
                <div>
                    <span>{{ image.title }}</span>
                </div>
            {% endif %}
            {% if image.description %}
                <div>
                    {{image.description}}
                </div>
            {% endif %}
            {% if resizes %}
                <ul>
                    {% for resize in resizes %}
                        <li><a href="{{ url_for('show_image', image_id=image.image_id, size=resize.suffix) }}">{{resize.suffix}} {{resize.width}}x{{resize.height}}</a></li>
                    {% endfor %}
                    <li><a href="{{ url_for('show_image', image_id=image.image_id, size='original')}}">original</a>
                </ul>
            {% endif %}
        </article>
        {% if tags %}
            <article id="tags">
                Tags:
                <ul>
                    {% for tag in tags %}
                        <li><a href="{{ url_for('find', tags=tag)}}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </article>
        {% endif %}
    </body>
</html>
