{% extends 'layout.html.jinja' %}
{% block title %}
    {{ image.caption() |e}}
{% endblock title %}
{% block page_title %}{% endblock page_title %}

{% block content %}
    <article id="image">
        <div class="image-container">
            {% if prev or next %}
                <ul class="pager">
                    {% if prev %}
                        <li class="previous">
                            <a href="{{ url_for('show_image', image_id=prev.image_id) }}">
                                <span aria-hidden="true">&larr;</span> {{ prev.caption() }}
                            </a>
                        </li>
                    {% endif %}
                    {% if next %}
                        <li class="next">
                            <a href="{{ url_for('show_image', image_id=next.image_id) }}">
                                {{ next.caption() }} <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            <h2>{{self.title()}}</h2>
            <a href="{{ url }}">
                <img src="{{ url }}"
                    title="{{ image.caption() |e}}"
                    alt="{{ image.caption() |e}}" />
            </a>
            {%if image.description %}
                {%for paragraph in image.description.split('\n') %}
                    <p class="image-description">{{ paragraph }}</p>
                {%endfor %}
            {%endif %}
        </div>
    </article>
{% endblock content %}

{% block scripts %}
    <script src="/public/js/image.js"></script>
{% endblock scripts %}
