<!doctype html>
<html>
    <head>
        <title>Catsnap</title>
    </head>
    <body>
        <article id="find">
            <h2>Search for an image</h2>
            <form method="get" action="{{ url_for('find') }}">
                <label for="tags">Search: </label>
                <input type="text" name="tags" id="tags" />
                <input type="submit" name="find_button" id="find_button" value="Find" />
            </form>
        </article>
        <article id="add">
            <a href="{{ url_for('show_add') }}">Add images</a>
        </article>
    </body>
</html>
