<!doctype html>
<html lang="en">
<head>
    <title>{%block title%}{%endblock title%} - Catsnap</title>
    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
</head>
<body
    {% if js_page is defined %}
        data-page="{{ js_page }}"
    {% endif %}
>
    <div class="container">
        <header>
            {% block page_title %}
                <h2>{{ self.title() }}</h2>
            {% endblock page_title %}
        </header>
        {%block content%}{%endblock content%}
    </div>
    {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%block scripts%}{%endblock%}
</body>
</html>
