<!doctype html>
<html lang="en">
<head>
    <title>{%block title%}{%endblock title%} - Catsnap</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/css/layout.css" rel="stylesheet" media="screen">
    {% block head_extras %}{% endblock head_extras %}
</head>
<body>
    <header>
        <a href="/">
            <h1>Catsnap</h1>
        </a>
        <span class="user-actions">
            <ul class="nav-pills nav">
                {% block header_extras %}{% endblock %}
                {% if g.user %}
                    <li>
                        <a href="{{ url_for('add') }}">Add images</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login', next=request.path) }}" class="pill">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </span>
    </header>
    <div class="container">
        <div class="page-head container-fluid">
            {% block page_title %}
                <h2>{{ self.title() }}</h2>
            {% endblock page_title %}
        </div>
        {%block content%}{%endblock content%}
    </div>
    <script src="/public/js/keycodes.js"></script>
    <script src="/public/js/jquery-2.0.0.min.js"></script>
    <script src="/public/js/underscore-min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/application.js"></script>
    {%block scripts%}{%endblock%}
</body>
</html>
