{% extends 'layout.html.jinja' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <article class="container-fluid">
        <form action="{{ url_for('login') }}" method="post" class="navbar-form form-left">
            {% if error %}
                <div class="alert alert-danger">{{ error |e}}</div>
            {% endif %}
            <div class="form-group">
                <label>
                    Password:
                    <input type="password" name="password" class="form-control">
                </label>
                <input type="submit" value="Sign in" class="btn btn-default">
            </div>
        </form>
    </article>
{% endblock content %}
