body {
	background-color: #333333;
	color: #eeeeee;
}
a {
	color: #22aaee;
}
a:hover {
	color: #2277a2;
}

.image-container {
	float:left;
	margin-right: 5%;
	margin-bottom: 5%;
}

article {
	clear:left;
}

.data {
	display: none;
}